@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/*RESET*/
* {
  margin: 0;
  padding: 0;
}

.a {
  text-decoration: none;
}

.frame {
  border: 1px dotted red;
}

/*BODY*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 1440px) {
  body {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: -50%, -50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 380px;
}

.fyloCard {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 205px;
}

.options {
  display: flex;
  flex-direction: row;
}

.storageCard {
  width: 330px;
  height: 160px;
  width: 90%;
  height: 30%;
}

.dashboard {
  display: flex;
  flex-direction: row;
}
